= content_for :title do
  Program Index
%h1 Program index
%table#program_index.table.table-striped
  %thead
    %tr
      %th Name
      %th Start Time
      %th End Time
      %th
      %th
      %th
  %tbody
    - programs.each do |program|
      %tr
        %td= program.name
        %td= program.start
        %td= program.end
        %td= link_to 'Show', program, :class => "btn btn-primary"
        %td= link_to 'Edit', edit_program_path(program), :class => "btn btn-info" if user_authorized?
        %td= link_to 'Destroy', program, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" if user_authorized?
%br
= link_to 'New Program', new_program_path
