%p#notice= notice

%p
  %b Name:
  = program.name
%p
  %b Start Time:
  = program.start
%p
  %b End Time:
  = program.end


= link_to 'Back', programs_path, class: 'btn btn-small btn-inverse'
- if user_signed_in? && current_user.can_edit_program?(program) 
  = link_to 'Edit', edit_program_path(program), class: 'btn btn-small btn-inverse' 
= link_to 'Playlists', '#', class: 'btn btn-small btn-primary'

